<h2> Dodaj Pracownika </h2>

<button mat-flat-button color="primary" routerLink="/employees/create"> Dodaj nowego pracownika </button>

<app-generic-list [list]="employees">
    <ng-container content>
        <table mat-table [dataSource]="employees" class="mat-elevation-z8 table-index">

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Nazwa</th>
                <td mat-cell *matCellDef="let element">{{element.name}}</td>
            </ng-container>

            <ng-container matColumnDef="tasksAmount">
                <th mat-header-cell *matHeaderCellDef>Ilość zadań przydzielonych</th>
                <td mat-cell *matCellDef="let element">{{element.tasks.length}}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Dostępne akcje</th>
                <td mat-cell *matCellDef="let element">
                    <a
                        routerLink="/employees/edit/{{element.id}}"
                        mat-flat-button color="primary"
                    >
                        Edycja
                    </a>
                    <button mat-flat-button color="warn"
                    [swal]="{
                        title: 'Potwierdź operację',
                        text: 'Czy na pewno chcesz usunąć ten rekord?',
                        showCancelButton: true
                    }"
                    (confirm)="delete(element.id)">
                        Usuń
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
        </table>

        <mat-paginator 
        [pageSizeOptions]="[5, 10, 15]"
        showFirstLastButtons
        [length]="totalAmountOfRecords" [pageSize]="pageSize"
        (page)="updatePagination($event)"
        class="table-index">
        </mat-paginator>

    </ng-container>
</app-generic-list>